<div class="accountbg" style="background: url('assets/images/bg-1.jpg');background-size: cover;"></div>

<div class="wrapper-page account-page-full">

  <div class="card">
    <div class="card-block">

      <div class="account-box">

        <div class="card-box p-5">
          <h2 class="text-uppercase text-center pb-4">
            <a href="main.html" class="text-success">
              <span><img src="assets/images/logo.png" alt="" height="26"></span>
            </a>
          </h2>
            <!--<win-login #login (onClickRegister)="register()"></win-login>-->
          <win-register #login [url]="'test'" ></win-register>
        </div>
      </div>

    </div>
  </div>
